<mat-card class="example-card" *ngIf="isLoaded() == true">
  <div class="card__content">
    <img mat-card-image src="{{getSelectedClient().general.avatar}}"
         alt="{getSelectedClient().general.lastName}}">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>{{getSelectedClient().general.firstName}}
        {{getSelectedClient().general.lastName}}</mat-card-title>
      <mat-card-subtitle>{{getSelectedClient().job.title}}</mat-card-subtitle>
      <mat-card-subtitle>{{getSelectedClient().job.company}}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <p>
        Phone: {{getSelectedClient().contact.phone}}<br/>
        Email: {{getSelectedClient().contact.email}}<br/>
        Address: {{getSelectedClient().address.city}} {{getSelectedClient().address.street}}
      </p>
    </mat-card-content>
  </div>
</mat-card>
