<div class="search__container">
  <mat-form-field>
    <input class="search__input" matInput placeholder="Search" [(ngModel)]="searchStr">
    <mat-error></mat-error>
  </mat-form-field>
</div>
<mat-list>
  <mat-list-item *ngFor="let client of clientList | searchFilter:searchStr"
                 (click)="onSelect(client)">
    <div class="list__img">
      <img src="{{ client.general.avatar }}" alt="{{ client.general.lastName }}">
    </div>
    <div class="list__info">
      <h4 class="list__name">{{ client.general.firstName }} {{ client.general.lastName }}</h4>
      <p class="list__job">{{ client.job.title }}</p>
    </div>
  </mat-list-item>
  <mat-divider></mat-divider>
</mat-list>

